@use "../../global/index" as g;

.c-move-moreBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 129px;
    border-radius: 50%;
    text-stroke: 1px #222222;
    -webkit-text-stroke:1px #222222;
    color: g.$yellowColor;
    background: g.$greenColor;
    border: 2px solid #222222;
    @include g.font-rem(20);
    @include g.Rammetto;
    &--home{
        position: absolute;
        top: 60px;
        right: -130px;
    }
}