@use "../../global/index" as g;

.c-section{
    &--yellow{
        background: g.$yellowColor;
    }
    &--purple{
        background: g.$purpleColor;
    }
    &--green{
        background: g.$greenColor;
    }
    &--orange{
        background: g.$orangeColor;
    }
    &--moviesgao{
        background-position: top;
        background-image: url(/assets/img/home/moviesgao.png);
        background-repeat: no-repeat;
    }
}

.c-content{
    padding: 0 30px;
    &__inner{
        width: min(1200px,100%);
        margin-inline: auto;
    }
}