@use "../../global/index" as g;

.c-headLine01 {
  text-align: center;
  text-stroke: 2px #222222;
  -webkit-text-stroke:2px #222222;
  line-height: 1.2;
  color: g.$redColor;
  @include g.Rammetto;
  @include g.font-rem(174);
  &--main{
    position: relative;
    z-index: 1;
  }
  span {
    @include g.font-rem(120);
  }
}

.c-headLine02 {
  text-stroke: 2px #222222;
  -webkit-text-stroke:2px #222222;
  @include g.Rammetto;
  @include g.font-rem(150);
  &--red{
    color: g.$redColor;
  }
  &--purple{
    color: g.$lightBlueColor;
  }
  &--green{
    color: g.$greenColor;
  }
  &--orange{
    color: g.$orangeColor;
  }
  &--yellow{
    color: g.$yellowColor;
  }
}
